body {
    /* color: rgb(240, 236, 236); */
    margin: auto;
    padding-right: 300px;
    background: url('bck1.jpg');

    /* background-size: auto; */
    /* width: fit-content;
height: fit-content; */
    background-repeat: no-repeat;

}

.left {
    display: inline-block;
    position: absolute;
    left: 5px;
    top: 10px;
    /* background-color: rgb(250, 250, 250); */
    /* width: 100%; */
    padding-bottom: 30px;
    padding-left: 24px;
    padding-right: 24px;
    size: 0px;

}

.left img {
    width: 200px;
}


.mid {
    /* display: inline-block; */
    width: 90%;
    margin-top: 10px;
    margin-left: 125px;
    padding-left: 230px;
    padding-top: 35px;
    padding-bottom: 75px;
    padding-right: 250px;
    position: sticky;
    /* background-color: rgba(252, 245, 245, 0.521); */
    float: center;



}

a {
    /* margin-left: 112px; */
    padding-left: 30px;
    padding-right: 30px;
    font-weight: bold;
    color: black;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    /* border: rgb(153, 9, 9); */
    border-style: outset;
    border-radius: 10px;
    text-decoration: none;
    margin-left: 70px;

}

a:hover {
    background-color: rgb(240, 114, 114);
}

#cet {
    padding-top: 70 x;
    margin-left: 230px;
    font-weight: bold;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 90px;
    float: center;
    -webkit-text-stroke: 3px black;

}

.container {
    color: rgb(253, 253, 253);
    border: 4px solid grey;
    margin: 106px 200px;
    padding: px;
    width: 90%;
    border-radius: 28px;
    text-align: center;
    /* text-shadow: khaki ; */
    background-color: rgba(14, 13, 13, 0.781);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;


    float: left;
}

.query {
    color: white;
    padding-top: 12px;
    margin-top: 22px;
}
#txtArea{
    /* height: 10cm;
    width: 10cm; */
    border-radius: 6px;
    border-width: 3px;
    border-color: black;
    font-size: large;
    font-family: Montserrat;
}
#checkbox{
    width: 20px;
    height:20px;
    color: green;
}
#mail, #name, #date{
    border-radius: 3px;
    border-color: black;
    font-size: 15px;
    font-family:Montserrat;
    height: 0.8cm;
    width: 5.8cm;
}
/* below code is for name and etc  */
form{
    font-size: larger;
    color: rgb(240, 227, 227);
    font-family: Montserrat;
}
p{
    padding-top: 75px;
    padding-left: 100px;
    padding-bottom: 50px;
    color: white;
    text-align: center;
    font-family: Montserrat;
}
#res:hover{
    background-color:rgb(0, 0, 0) ;
    border: 3px solid rgb(211, 238, 215);
    color: rgb(211, 238, 215);
    transform: scale(.9);
}
#sub:hover{
    background-color:rgb(0, 0, 0) ;
    border: 3px solid rgb(211, 238, 215);
    color: rgb(211, 238, 215);
    transform: scale(.9);
}
#sub{
    border: 3px solid rgb(1, 7, 1) ; color: rgb(0, 0, 0); background-color: rgb(211, 238, 215); font-size: larger; border-radius: 10px;font-family:Montserrat; padding-block: 12px; margin-top: 20px; margin-left: 20px;
    transition: transform .08s; padding-inline: 14px; letter-spacing: 2px; font-size: small; font-weight: bold;
}
#res{
    border: 3px solid rgb(1, 7, 1) ; color: rgb(0, 0, 0); background-color: rgb(211, 238, 215); font-size: larger; border-radius: 10px; font-family:Montserrat; padding-block: 12px; margin-top: 20px; margin-left: 20px;
    transition: transform .08s; padding-inline: 14px; letter-spacing: 2px; font-size: small; font-weight: bold;
}