body
{  
     /* color: rgb(240, 236, 236); */
   margin: auto; 
   padding-right:300px;
   background: url('bck1.jpg');
   
   /* background-size: auto; */
   /* width: fit-content;
   height: fit-content; */
   background-repeat: no-repeat;
   
}
.left
{   
    display: inline-block;
    position: absolute;
    left: 5px;
    top: 10px;
    /* background-color: rgb(250, 250, 250); */
    /* width: 100%; */
    padding-bottom: 30px;
    padding-left: 24px;
    padding-right: 24px;
    size: 0px;
    
}
.left img
{
    width: 200px;
}


.mid
{  
     /* display: inline-block; */
    width: 90%;
    margin-top: 10px;
    margin-left: 125px;
    padding-left: 230px;
    padding-top: 35px;
    padding-bottom: 75px;
    padding-right: 250px;
    position: sticky;
    /* background-color: rgba(252, 245, 245, 0.521); */
    float: center;
   
    

}
a
{   
    /* margin-left: 112px; */
    padding-left: 30px;
    padding-right: 30px;
    font-weight: bold;
    color:black;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    /* border: rgb(153, 9, 9); */
    border-style: outset;
    border-radius: 10px;
    text-decoration: none;
    margin-left: 70px;
         
}

a:hover
{
    background-color: rgb(240, 114, 114);
}
#cet
{   padding-top: 70 x;
    margin-left: 230px;
    font-weight: bold;
    color: white;
    font-family: 'Poppins', sans-serif;    
    font-size: 90px;
    float: center;
    -webkit-text-stroke: 3px black;
    
}
.container
{
    color: rgb(253, 253, 253);
    border: 4px solid grey;
    margin: 106px 200px;
    padding: px;
    width: 90%;
    border-radius: 28px;
    text-align: center;
    /* text-shadow: khaki ; */
    background-color: rgba(14, 13, 13, 0.781);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-size: 18px;
    

    float:left;
}