body
{  
     /* color: rgb(240, 236, 236); */
   margin: auto; 
   padding-right:300px;
   background: url('bck1.jpg');
   
   /* background-size: auto; */
   /* width: fit-content;
   height: fit-content; */
   background-repeat: no-repeat;
   
}
.left
{   
    display: inline-block;
    position: absolute;
    left: 5px;
    top: 10px;
    /* background-color: rgb(250, 250, 250); */
    /* width: 100%; */
    padding-bottom: 30px;
    padding-left: 24px;
    padding-right: 24px;
    size: 0px;
    
}
.left img
{
    width: 200px;
}
.mid
{  
     /* display: inline-block; */
    width: 90%;
    margin-top: 10px;
    margin-left: 125px;
    padding-left: 230px;
    padding-top: 35px;
    padding-bottom: 75px;
    padding-right: 250px;
    position: sticky;
    /* background-color: rgba(252, 245, 245, 0.521); */
    float: center;
   
    

}
a
{   
    /* margin-left: 112px; */
    padding-left: 30px;
    padding-right: 30px;
    font-weight: bold;
    color:black;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    /* border: rgb(153, 9, 9); */
    border-style: outset;
    border-radius: 10px;
    text-decoration: none;
    margin-left: 70px;
         
}

a:hover
{
    background-color: rgb(240, 114, 114);
}
#cent
{   display: flex;  
    justify-content: center;
    color: white;
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(0, 0, 0, 0.767);
    /* text-align: center; */
    margin-left: 250px;
    border:4px dotted rgba(255, 255, 255, 0.74);
    
    border-radius: 20px;
    animation-name:example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    

}

@keyframes example {
    0%   {border-color:red; left:0px; top:0px;}
    25%  {border-color: yellow; left:200px; top:0px;}
    50%  {border-color:blue; left:200px; top:200px;}
    75%  {border-color:green; left:0px; top:200px;}
    100% {border-color:red; left:0px; top:0px;}
  }
  
  .container
  { 
       margin-top: 30px;
    margin-left: 20px;
      /* border: 2px solid rgb(231, 225, 225);
      border-radius: 10px; */
      width: auto;
      height: 500px;
      /* background-color: rgba(0, 0, 255, 0.404); */
      padding-bottom: 30px;
  }
  #onetext
  {
      color: white;
      font-family: 'Poppins', sans-serif;
      margin-top: 20px;
      margin-left: 30px;
      background-color: rgba(0, 0, 0, 0.637);
      width: 390px;
      padding-left: 14px;

  }
  .one img
  {     
      /* display: flex; */
      width: 300px;
      /* flex-direction: row; */
      /* flex-basis: 3330px; */
      margin-left: 70px;
      margin-top: 50px;
    
  }
  #v img{
    width: 300px;
    position: relative;
    bottom: 211px;
    left:500px
  }
  #vtext
  {
    color: white;
    background-color: rgb(0, 0, 0, 0.767);
    width: 350px;
    padding-left: 20px;
    font-weight: 10px;
    font-family: 'Poppins', sans-serif;
    position: relative;
    bottom: 190px;
    left: 470px;
    
  }
 